<div [hidden]="authService.isLoggedIn$ | async" class="modal">
  <input type="text" [(ngModel)]="login" name="login" placeholder="login" />
  <input
    type="password"
    [(ngModel)]="password"
    name="password"
    placeholder="password"
    passValidator
    #passwdControl="ngModel"
  />
  <div *ngIf="passwdControl.errors !== null">
    {{ passwdControl.errors | json }}
  </div>
  <div class="btn">
    <button [disabled]="passwdControl.errors !== null" (click)="loginFn()">login</button>
  </div>
</div>
